@use "@/assets/styles/variables" as vars;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 52px;
  border-radius: 8px;
  background: vars.$primary-color;
  padding: 12px 16px;
  border: none;
  cursor: pointer;

  & span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
  }

  &.dark__blue {
    background: vars.$secondary-color;
    & span {
      color: vars.$primary-white-color;
    }
  }

  &.red {
    background: #F7415633;
    & span {
      color: #F74156;
    }
  }

  &.green__light {
    background: rgba(29, 115, 107, 0.22);

    & span {
      color: #1D736B;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
