@use "@/assets/styles/variables" as vars;

.tabs {
  width: 100%;
  background: #DBE9E7;
  border-radius: 8px;
  padding: 8px;

  display: flex;
  gap: 8px;


  & .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;

    & span {
      width: max-content;
      color: #1D736B;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }

    &.active {
      background: vars.$primary-color;
      cursor: auto;
      span{
        color: vars.$primary-white-color;
      }
    }
  }


  &.dark{
    background: #181818;

    & .tab{
      background: #181818;

      & span{
        color: vars.$primary-white-color;
      }

      &.active {
        background: vars.$primary-color;
        span{
          color: vars.$primary-white-color;
        }
      }
    }
  }
}
