@use "@/assets/styles/variables" as vars;

.not__found {
  width: 100%;
  height: 100vh;
  color: vars.$primary-black-color;
  background: vars.$primary-white-color;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content,
  &__img {
    width: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      text-align: center;
      font-size: 100px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__subtitle {
      margin: 0 0 24px;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &.dark{
    background: vars.$primary-black-color;
    color: vars.$primary-white-color;
  }
}
