.table {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background: var(--Green-500, #1D736B);

      th {
        min-width: 170px;
        padding: 14px 24px;
        text-align: center;
        border: 1px solid #DEDEDE;
        color: #fff;
        font-size: 13px;
        font-weight: 500;

        &:nth-child(1) {
          border-radius: 10px 0 0 0;
          border-left: none;
          border-top: none;
        }

        &:last-child {
          border-radius: 0 10px 0 0;
          border-top: none;
          border-right: none;
        }
      }

      .filter {
        td {
          font-size: 14px;
          text-align: center;
          border: 1px solid #DEDEDE;
          background: #F5F5F5;

          input {
            width: 100%;
            padding: 12px 10px;
            font-size: 13px;
            text-align: center;
            border: none;
            outline: none;
          }
        }
      }
    }

    tbody {
      td {
        padding: 12px 16px;
        font-size: 14px;
        text-align: center;
        border: 1px solid #DEDEDE;
        background: #F5F5F5;
      }
    }
  }
}
