.table {
  width: 100%;
  border-radius: 12px;
  overflow-x: auto;


  &::-webkit-scrollbar {
    height: 5px;
  }


  table {
    width: 100%;
    border-collapse: collapse;


    thead {
      background: var(--Green-500, #1D736B);

      th {
        min-width: 205px;
        height: 50px;
        text-align: center;
        border: 1px solid #DEDEDE;
        color: #fff;
        font-size: 13px;
        font-weight: 500;

        &:nth-child(1) {
          border-radius: 10px 0 0 0;
        }

        &:last-child {
          border-radius: 0 10px 0 0;
        }
      }

      .filter {
        td {
          font-size: 14px;
          text-align: center;
          border: 1px solid #DEDEDE;
          background: #F5F5F5;

          input {
            width: 100%;
            padding: 8px;
            height: 38px;
            font-size: 13px;
            text-align: center;
            border: none;
            outline: none;
            font-family: Manrope;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }

    tbody {
      td {
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        text-align: center;
        border: 1px solid #DEDEDE;
        background: #F5F5F5;
        max-width: 250px;
        overflow-y: auto;
        white-space: nowrap;
      }

      td::-webkit-scrollbar {
        height: 3px;
      }

    }
  }
}
