.price__quotation {
  width: 100%;

  .price {
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    .input__name {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .title {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
      }

      .input__list {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 20px;

        .input {
          width: 50%;
        }
      }
    }
    .title {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }

    .period {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 20px;
    }

    .date {
      display: flex;
      width: 100%;
      gap: 16px;
    }

    .note {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .label {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .input {
        display: flex;
        padding: 16px 16px 96px 16px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--stroke, #DEDEDE);
        background: var(--background-light, #F5F5F5);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }

  .button {
    margin-top: 25px;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }

}
