.price__quotation {
  width: 100%;
  padding: 64px 80px;

  &__title {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 16px;
  }

  .section {
    width: 100%;

    .grid {
      margin: 18px auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
    }
  }
}
