.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 1rem auto;
  background-color: #fff;
  font-family: sans-serif;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
  user-select: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.08px;

  .custom__checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #878787;
    background: #878787;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: #1D736B;
      border-color: #1D736B;

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 1px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }


  span {
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.08px;
  }

  input {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.section {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 1rem;

  .input {
    display: flex;
    gap: 16px;
    width: 100%;

    .drop__input {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

    }

  }

}

.section.open {
  height: 215px;
}

.inputField {
  input {
    width: 100%;
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;

    &:focus {
      border-color: #5c9ded;
      outline: none;
    }
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
  height: 88px;
  color: #666;
  background-color: #fafafa;
  cursor: pointer;
  transition: border-color 0.6s;
  border-radius: 12px;
  border: 2px dashed var(--stroke, #DEDEDE);
  background: var(--background-light, #F5F5F5);


  .dropzone__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .info {
      display: flex;
      align-items: self-start;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        gap: 6px;

        p {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          font-family: Manrope;
          line-height: 24px;
        }

        span {
          color: var(--Blue-500, #3B82F6);
          text-align: center;
          font-size: 16px;
          font-family: Manrope;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }

      span {
        color: var(--icon-for, #808080);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }

    }
  }

  &:hover {
    border-color: #1D736B;
  }

  img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 10px;
  }
}

.dropzone__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 50%;
  padding: 20px;
  height: 54px;
  color: #666;
  background-color: #fafafa;
  cursor: pointer;
  transition: border-color 0.6s;
  border-radius: 6px;
  border: 2px dashed var(--stroke, #DEDEDE);
  background: var(--background-light, #F5F5F5);


  .dropzone__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .info {
      display: flex;
      align-items: self-start;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        gap: 6px;

        p {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          font-family: Manrope;
          line-height: 24px;
        }

        span {
          color: var(--Blue-500, #3B82F6);
          text-align: center;
          font-size: 14px;
          font-family: Manrope;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }

      span {
        color: var(--icon-for, #808080);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }

    }
  }

  &:hover {
    border-color: #1D736B;
  }

  img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 1rem;
  }

  .section.open {
    height: auto;
  }
}
