.formContainer {
  margin: auto;
  margin-top: 32px;

  .input__box {
    width: 100%;
    display: flex;
    gap: 16px;

    .formGroup {
      width: 100%;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      label {
        display: flex;
        width: fit-content;
        gap: 5px;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        align-items: center;
      }

      .custom_checkbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        background: #878787;
        position: relative;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: #464444;
        }

        &:checked {
          background-color: #1d736b;
          border-color: #1d736b;
        }

        &:checked::after {
          content: "";
          position: absolute;
          top: 3px;
          left: 6px;
          width: 4px;
          height: 9px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  .dynamicRow {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;

    .wagon {
      width: 100%;
      display: flex;
      gap: 16px;
      flex-direction: column;

      .info {
        display: flex;
        align-items: center;
        gap: 5px;

        label {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          width: fit-content;
          line-height: normal;
        }

        .tooltipWrapper {
          position: relative;
          display: inline-block;
          cursor: pointer;
          padding-top: 2px;



          .tooltipBlock {
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
          }

          .box {
            box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
            background: #e8e5e5;
            font-family: Manrope;
            width: 120px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            border-radius: 8px;
            white-space: nowrap;
            color: #000;
          }

          .lineIcon {
            margin-top: -6px;
            margin-left: 1px;
            display: flex;
            justify-content: center;

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }




      }

    }

    .custom_checkbox {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      background: #878787;
      position: relative;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: #464444;
      }

      &:checked {
        background-color: #1d736b;
        border-color: #1d736b;
      }

      &:checked::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 6px;
        width: 4px;
        height: 9px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

  }

  .removeBtn {
    font-size: 18px;
    position: absolute;
    color: #ff4d4d;
    left: 48%;
    border: none;
    cursor: pointer;
    height: 54px;
    margin-top: 39px;

  }

  .submitBtn {
    margin-top: 20px;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background: #0056b3;
    }
  }


}
