// Web Site color
$primary-color: #1D736B;
$secondary-color: #001a17;

// Web Site color secondary
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-red-color: #fd4343;

// Web Site Border
$border-radius: 8px;
$border-width: 1px solid #E7E7E7;
$border-black: 1px solid #292929;
