@use "@/assets/styles/variables" as vars;

.switcher{
  width: 100px;
  height: 40px;
  padding: 4px;
  background: vars.$primary-color;
  border-radius: 24px;
  display: flex;
  gap: 4px;
  align-items: center;

  &__icon{
    width: 50%;
    height: 100%;
    border-radius: 24px;
    display: grid;
    place-items: center;
    cursor: pointer;

    &.active{
      background: vars.$secondary-color;
    }
  }
}
