.panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 10px 64px;


  h1 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  .controls {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 32px;

    .box {
      height: 165px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 20px;
      border: 1px solid rgba(81, 104, 126, 0.20);
      background: #FFF;
      padding: 15px 20px;
      transition: all 0.5s ease;

      .title {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 16px;
        h1 {
          color: rgba(0, 0, 0, 0.80);
          font-family: Manrope;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .icon svg {
          color: #1D736B;
        }
      }

      .button {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;

        .icon__1 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          background: #f8f8f8;
          cursor: pointer;
        }

        .icon__1 svg {
          color: #000;
        }
      }

      &:hover {
        .button {
          .icon__1 {
            background: #1D736B;
            transition: 0.2s ease;
          }

          .icon__1 svg {
            color: #fff;
            transition: 0.2s ease;
          }

        }
      }
    }
  }
}